<div class="container">
    <button type="button" class="btn btn-success"> <%= link_to 'Pins', pins_path %> </button>
    <button type="button" class="btn btn-success"> <%= link_to 'Drops', drops_path %> </button>
    <button type="button" class="btn btn-success"> <%= link_to 'Videos', videos_path %> </button>
</div>


